{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 1 versions"
          ]
        },
        "modules": false
      }
    ]
  ],
  "exclude": "node_modules/**"
}
